doctype html

head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name="description" content="tetris classic классический тетрис")
	meta(name="keywords" content="tetris classic классический тетрис js jquery")
	link(rel='stylesheet' href='css/main.min.css')
	title Tetris by Otto-Vector
body
	header
		h1 TETRIS CLASSIC
	#container
		.box
			- for (var i=0; i<400; i++) {
				if ((i%10 == 0) && (i%20 != 0))
					.dot.wall 
				else
					.dot
			- }

	.after
		.left
			#left Left
		.center
			#start NEW GAME
			#pause PAUSE
		.right
			#right Right
	.bottom
		#down Down
		#flip Flip

	footer
		h3 HOW TO PLAY
		p Use 
			u "Left/Right Arrow" 
			| keys to move it horizontal
		p Use 
			u "Up" 
			| key to flip it
		p Use 
			u "Down" 
			| key to acceleration down
	script(src='js/main.min.js')
