$dark_color: rgb(10, 50, 130)
$light_color: rgb(200, 120, 0)

$dots_row: 20 //количество точек в строке/столбце квадрата
$bw: .2% //для расстояний между точками
$wh: 100/$dots_row - $bw //подсчёт процентного составляющего значения актива


//////////////////////////////////////////////

body
	background-color: rgb(25, 82, 138)
	font-family: arial
	font-weight: bold
	text-align: center
	transition-property: background-color
	transition-duration: 0.8s

header
	display: flex
	height: 100px
	justify-content: center
	display: none


//основной контейнер для позиционирования квадрата с активной областью

#container
	display: flex
	justify-content: space-between
	#center
		width: 500px
		font-size: 18px
		.center
			display: flex
			justify-content: space-between
			width: 99%
			.box_wraper
				overflow: hidden
				position: relative
				width: 100%
				padding-bottom: 100%
				.box //квадрат содержащий активные области
					background-color: black
					border: 1px solid white
					display: flex
					flex-wrap: wrap
					justify-content: space-around
					transition-duration: .6s
					width: 98%
					height: 98%
					margin: auto
					position: absolute
					top: 0
					left: 0
					overflow: hidden
					.dot //активные пиксели
						border-radius: 8px
						background-color: $dark_color
						color: $light_color
						line-height: 130%
						height: $wh
						width: $wh
					.dot.wall //пиксели интерфейса
						background-color: $light_color


.after
	height: 100px
	display: flex
	justify-content: center
	align-items: center

.left, .right
	display: flex
	flex-direction: column
	justify-content: flex-end

#start, #pause, #left, #right, #flip, #down
	border-radius: 5px
	background-color: $dark_color
	color: $light_color
	cursor: pointer
	font-weight: bold
	padding: 10px
	margin: 2px 10px
	width: 80px

#left, #right, #flip, #down
	height: 80px
	border-radius: 50%
	line-height: 300%
	display: flex
	justify-content: center
	align-items: center
	margin-top: 10px

#start, #pause
	width: 100px

#start:hover, #pause:hover
	background-color: $light_color
	color: $dark_color

footer
	font-family: "Times New Roman"
	display: none


@media (min-width: 1024px)
	#left, #right, #flip, #down
		display: none
	footer
		display: block
	header
		display: block

@media (max-width: 500px)
	#left, #right, #flip, #down
		height: 50px
		width: 50px

@media (max-height: 500px)
	#container #center
		width: 450px
		font-size: 16px

@media (max-height: 450px)
	#container #center
		width: 400px
		font-size: 14px

@media (max-height: 400px)
	#container #center
		width: 300px
		font-size: 12px

@media (max-height: 350px)
	#container #center
		width: 300px
		font-size: 10px

@media (max-height: 300px)
	#container #center
		width: 250px
		font-size: 9px