$dark_color: rgb(10, 50, 130)
$light_color: rgb(200, 120, 0)

$dots_row: 20 //количество точек в строке/столбце квадрата
$bw: .2% //для расстояний между точками
$wh: 100/$dots_row - $bw //подсчёт процентного составляющего значения актива


//////////////////////////////////////////////

body
	background-color: rgb(25, 82, 138)
	font-family: arial
	font-weight: bold
	text-align: center
	transition-property: background-color
	transition-duration: 0.8s

header
	display: flex
	height: 100px
	justify-content: center


//основной контейнер для позиционирования квадрата с активной областью
#container
	display: flex
	height: 500px
	justify-content: center
	width: 100%

	.box //квадрат содержащий активные области
		background-color: black
		border: 1px solid white
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		transition-duration: .6s
		width: 500px

		.dot //активные пиксели
			border-radius: 8px
			background-color: $dark_color
			color: $light_color
			font-size: 18px
			line-height: 130%
			height: $wh
			width: $wh

		.dot.wall //пиксели интерфейса
			background-color: $light_color

.after
	height: 100px
	display: flex
	justify-content: center
	align-items: center

	#start, #pause
		border-radius: 5px
		background-color: $dark_color
		color: $light_color
		cursor: pointer
		font-weight: bold
		padding: 10px
		margin: 0 10px

	#start:hover, #pause:hover
		background-color: $light_color
		color: $dark_color

footer
	font-family: "Times New Roman"